body {
	color: #000;
	font: 100% 'Arial', 'Helvetica', sans-serif;
	font-size: 16px;
	background: url('assets/bg.jpg') left top repeat;
}
#guestbook {
	width: 500px;
	margin: 0 auto;
	padding: 10px 0;
}
hr {
	display: none;
}
h1 {
	margin: -5px 0 0;
}
#forum {
	width: 500px;
	border-bottom: #000 5px double;	
}
.comment {
	padding: 10px;
	margin: 10px 0;
	border: 3px solid #000;
	background-color: #8dcff4;
	text-align: left;
}
.timestamp {
	float: right;
}
.username {
	font-weight: bold;
	font-size: 1.25em;
	border-bottom: 2px solid #000;
}
.usercomment {
	clear: both;
	line-height: 20px;
}
.delete {
	text-align: right;
}
.comment a {
	font-size: 0.875em;
	color: black;
	text-align: right;
	text-decoration: none;
}
.comment a:hover {
	font-weight: bold;
}

/*****New comment box*******/

.errormsg {
	color: red;
	font-weight: bold;
	font-style: italic;
	display: none;
}
#newcomment {
	background-color: #fdebcf;
	width: 480px;
	padding: 0 0 10px 10px;
	border: 5px dotted #a4d4b0;
	margin: 10px 0 0 0;
	position: relative;
}
h2 {
	line-height: 10px;
}
.label {
}
input[type='text'], input[type='password'] {
	width: 75%;
	padding: 5px;
	font-size: 1.1em;
	font-family: "Courier New", monotype;
	border-radius: 5px;
}
input[type='submit'] {
	padding: 5px 10px;
	font-size: 1.25em;
	border: 1px solid #999;
	border-radius: 5px;
	cursor: pointer;
}
input[type='submit']:hover, input[type='submit']:focus {
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
}
.element {
	margin: 0 0 10px 0;
}
.element p {
	margin: 0;
}
#loginerr {
	color: red;
	font-weight: bold;
}
textarea {
	position: relative;
	z-index: 5;
	width: 80%;
	padding: 5px;
	font-size: 1.1em;
	border-radius: 5px;
}
.logout {
	margin-left: 5px;
	position: relative;
	bottom: 1px;
	font-size: 0.825em;
}
